
.centeredImage
 {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    height:100pc;
 }

.mmxhome   
{
	background-image: url( '../images/dubrov.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.externalcontainer
{
    margin-right: -20px;
	margin-left: -20px;
}


.externalcontent
{
    margin-top: 0px;
}

 .titleFix 
 {
 	padding-left: 20px;
 }
