
.centeredImage
 {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;   
    top: 10%;
    position: relative; 
 }
.centeredImage img {
    padding: 7px 10px 5px;       
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}
.mmxhome   
{
	background-image: url( '../images/dubai.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    opacity: 70%;
    position: absolute;
    width: 100%;
    height: 100%;
}

.externalcontainer
{
    margin-right: -20px;
	margin-left: -20px;
    margin-top: 25px;
}


.externalcontent
{
    margin-top: 0px;
}

 .titleFix 
 {
 	padding-left: 20px;
 }