#logo-img
{  
	border-style:none;
}

.centeredImage
 {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    height: 100pc;
 }

 .logoDiv {


     background-image: ('images/logo.png');

 }