
.centeredImage
 {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    height:100pc;
 }

.mmxhome   
{
	background-image: url( 'images/dubrov.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.externalcontent
{
	margin-left: -20px;
	margin-right: -20px;
}

 .titleFix 
 {
 	padding-left: 20px;
 }
