#logo-img
{  
	border-style:none;
}

.centeredImage
 {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    height:100pc;
 }

 .splasher {

    background-image:url('images/moneycorp-logo.png');
 }

 .titleFix {
 	padding-left: 20px
 }
